
#content_wrap {width: 100%; margin: 10px auto; max-width: 1170px}

.m_content {min-width: 1170px; max-width: 1170px; margin: 0 auto}


.tbl_analyst {}
.tbl_analyst table {clear:both;width:100%;border-collapse:collapse;border-spacing:0;font-size:1em;}
.tbl_analyst tbody th{border:1px solid #d6dce7;padding:3px;text-align:center;color:#000;}
.tbl_analyst tbody td{border:1px solid #d6dce7;padding:3px;text-align:center;color:#000;}

.m_goods_box {float: left; width: 1170px; margin: 20px 0 0; text-align: left;}
.m_goods_box .m_banner {position: relative; margin: 0 0 30px;  }
.m_goods_box .m_banner &gt; div {border: 1px solid #172849}
.m_goods_box .m_banner img {width: 100%;}
.m_goods_box .m_goods { text-align: left; margin: 0 auto}
.m_goods_box .m_goods div {float: left; position: relative; width: calc(33.3% - 12px); margin: 0 5px 10px; /*border: 1px solid #898989;*/ padding:3px; }
.m_goods_box .m_goods div .img {z-index: 90}
.m_goods_box .m_goods div .img img{width: 100%;}
.m_goods_box .m_goods div .cate {position: relative; padding: 12px 15px 0px}
.m_goods_box .m_goods div .tl {font-size: 18px; font-weight: 300; padding: 10px 15px 12px 15px;}
.m_goods_box .m_goods div .tl strong {font-weight: 700}
.m_goods_box .m_goods div .time {position: absolute; right: 20px; top: 12px; font-size: 14px; color: #808080; }
.m_goods_box .m_goods div .air_on {position: absolute; top: 0px; left: 10px; z-index: 100}
.m_goods_box .m_goods div .air_off {position: absolute; top: 0px; left: 0px; z-index: 100; background: #000; opacity: 0.5; width: 100%; height: 100%;}
.m_goods_box .m_goods_more {margin: 20px 0; text-align: left}
.m_goods_box .m_goods_more a{display: inline-block; background: url("../img/icon_arrow_down.png") no-repeat right+30px top+18px; border: 1px solid #172849; padding: 10px 60px 10px 30px;  font-size: 16px; font-weight: 500; color: #172849; cursor: pointer;}
.m_goods_box .m_goods_txt {text-align: center; color: #000; padding: 0 0 10px 0; font-size: 24px}
.m_goods_box .m_goods_txt span {color: #ff0000; font-weight: 500}

.m_after_box {min-width: 1200px; max-width: 1200px; margin: 0 auto}
.m_after_box .m_after {width: 100%; margin: 0 auto}
.m_after_box .m_after div {position: relative; float: left; width: calc(25% - 20px); margin: 0 10px 20px;  padding: 20px 20px; border: 1px solid #C8C8C8}
.m_after_box .m_after div .img {position: absolute; left :0; top :25px;}
.m_after_box .m_after div .img img{width: 60px;}
.m_after_box .m_after div .tl1 {font-size: 16px; font-weight: 600;}
.m_after_box .m_after div .tl2 {font-size: 13px; color: #AAAAAA; padding: 5px 20px 0px 0px; }
.m_after_box .m_after div .goods_box {position: relative; border-top: 1px solid #C8C8C8; padding: 16px 0 0; margin: 20px 0 0}
.m_after_box .m_after div .goods_box .tl3 {font-size: 14px; padding: 0px 10px 0 70px; font-weight: 500  }
.m_after_box .m_after div .goods_box .tl4 {font-size: 14px; padding: 3px 10px 0 70px; }
.m_after_box .m_after div .goods_box .tl5 {font-size: 14px; padding: 3px 10px 0 70px; }

.m_ranking {float: left; width: 270px; margin: 10px 0 0;}
.m_ranking .tl { }
.m_ranking .tl img {width: 100%; }
.m_ranking .tl .stl {font-size: 20px; }
.m_ranking .tl .stl strong {font-size: 24px; color: #FF9900}
.m_ranking .tl .scon {font-size: 15px;}

.m_ranking .t2 {margin: 10px 0 0;}
.m_ranking .t2 img {width: 100%; }

.m_ranking .m_batting_title {margin: 10px 0 0;}
.m_ranking .m_batting_title h1 {font-size: 18px; padding: 5px; /*margin: 0 0 8px;*/ font-weight: 300; /*background: url("../img/icon_medal.png") no-repeat left center ;*/ color: #172849}
.m_ranking .m_batting_title h1 strong {color: #FF5700}

.m_ranking .m_batting {background:#fff; margin: 2px 0 0; padding:5px; border:1px solid #ddd; border-radius:5px;}

.m_ranking .m_batting_result {margin: 30px 0 0; padding: 0 15px}
.m_ranking .m_batting_result h1 {font-size: 18px; padding: 0px 0 0px 30px; margin: 0 0 8px; font-weight: 300; background: url("../img/icon_crown.png") no-repeat left center ; color: #172849}
.m_ranking .m_batting_result h1 strong {color: #FF5700}

.m_result {margin: 20px 0 0; padding: 0 15px}
.m_result h1 {font-size: 22px; padding: 3px 0 10px 40px; margin: 0 0 8px; font-weight: 300; background: url("../img/icon_target.png") no-repeat left center ; color: #172849}
.m_result h1 strong {color: #FF5700}
.m_result_box {overflow-x:auto}
.m_result_box table {width: 100%;}
.m_result_box table img {width: 22px}
.m_result .basic_result_list {border-top: 3px solid #172849}
.m_result .basic_result_list thead th {background: #f7f7f7}
.m_result .ranking_list {border-top: none}

.m_bbs_box {margin: 40px 0 30px; padding: 0 15px}
.m_bbs_box .m_bbs_cate {}
.m_bbs_box .m_bbs_cate span {display: inline-block; text-align: center; width: 50%; background: #eee; color: #555; padding: 7px 0px; cursor: pointer; font-size: 14px;}
.m_bbs_box .m_bbs_cate span.on {background: #172849; color: #fff;}
#m_bbs_story {display:  none;}
.m_bbs_notice h1 {font-size: 20px; padding: 0px 0 12px 42px; margin: 0 0 20px; font-weight: 500; background: url("/img/icon_notice.png") no-repeat left top ; color: ##172849; border-bottom: 1px solid #172849}
.m_bbs_notice h1 a {float: right}
.m_bbs_story h1 {font-size: 20px; padding: 0px 0 12px 42px; margin: 0 0 20px; font-weight: 500; background: url("/img/icon_book.png") no-repeat left top ; color: ##172849; border-bottom: 1px solid #172849}
.m_bbs_story h1 a {float: right}
.m_bbs_con {margin: 15px 0 0; padding: 0 20px 0 0}
.m_bbs_con li {font-size: 13px; color: #535353; padding: 0 0 7px}
.m_bbs_con li span {display: inline-block;}
.m_bbs_con li span:nth-child(1) {width: 70%; padding: 0 10px 0 0}
.m_bbs_con li span:nth-child(2) {width: 18%; padding: 0 10px 0 0; color: #555; font-size: 12px}
.m_bbs_con li span:nth-child(3) {width: 12%; text-align: right; color: #555; font-size: 12px}











.wrap_input.select select {height: 36px; padding:0px 35px 0px 15px; border-radius: 0; line-height: 36px; background:#fff url('../../../../img/icon_arrow_down.png') no-repeat right+10px center;   -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; vertical-align: middle; color: #172849; border: 0px solid #172849; font-size: 14px}
.wrap_input.checkbox input[type=checkbox] {width:18px; height:18px; border: 1px solid #f7f7f7; border-radius: 3px; margin: 0 3px 0 0}


.urger_goods_box {width: 100%; margin: 60px 20px  0 0}
.urger_goods_box &gt; h1 {font-size: 36px; text-align: center; padding: 0px 0 0px; font-weight: 100; }
.urger_goods_box &gt; h1 strong {color: #172849; font-weight: 700}
.urger_goods_box &gt; h6 {font-size: 16px; text-align: center; padding: 5px 0 20px; font-weight: 100; color: #8A8A8A; letter-spacing: 0 }

.basic_popular_list {width:100%;border-collapse:collapse;border-spacing:0;background:#fff;font-size:14px; }
.basic_popular_list thead th {height:50px;background:#dbe9f3;padding:0px;color:#000;font-weight:500;text-align:center;border:1px solid #C1C1C1;}
.basic_popular_list tbody td {padding:5px;height:36px;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1; color: #172849; font-size:12px;}

.info_simple_list {width:100%;border-collapse:collapse;border-spacing:0;background:#fff;font-size:14px; }
.info_simple_list thead th {height:50px;background:#dbe9f3;padding:0px;color:#000;font-weight:500;text-align:center;border:1px solid #C1C1C1;}
.info_simple_list tbody td {padding:0;height:32px;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1; color: #172849; font-size:12px;}

.basic_result_list {width:100%;border-collapse:collapse;border-spacing:0;background:#fff;font-size:15px; }
.basic_result_list thead th {height:50px;background:#dbe9f3;padding:0px;color:#000;font-weight:500;text-align:center;border:1px solid #C1C1C1;}
.basic_result_list tbody td {padding:0 5px 0 5px;height:36px;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1; color: #172849; font-size:14px;}

.basic_result_list {width:100%;border-collapse:collapse;border-spacing:0;background:#fff;font-size:14px;border-top:3px solid #FF4E00;border-bottom:1px solid #8f8f8f; }
.basic_result_list caption {margin:0;padding:0;line-height:0;overflow:hidden}
.basic_result_list thead th {height:50px;background:#dbe9f3;padding:0px;color:#000;font-weight:500;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1;}
.basic_result_list thead th a {}
.basic_result_list tbody tr {}
.basic_result_list tbody td {height:36px;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1; color: #172849; font-weight: 500;}
.basic_result_list tbody td img {width: 22px}
.basic_result_list tbody td.subject {text-align: left; padding: 0 0 0 10px}
.basic_result_list tbody td.score_on {background: #D1D1D1}
.basic_result_list tbody td a{}
.basic_result_list tfoot th {}
.basic_result_list tfoot td {height:50px;color:#000;font-weight:500}
.basic_result_list td table {border-collapse:collapse;border-spacing:0;border:0px}
.basic_result_list td table td {border:0px}
.basic_result_list a {}
.basic_result_list_c {height:100px}

.bbs_result {margin: 5px 0 10px}
.bbs_result h1 {font-size: 20px; padding: 0 0 5px 0;}
.bbs_result span {border: 1px solid #999; border-radius: 50px; padding: 1px 7px; margin: 0 2px 0 0; color: #999; font-weight: 100; font-size: 12px;}
.bbs_result span.num_ml {margin: 0 0 0 10px}



.basic_analysis_list {width:100%;border-collapse:collapse;border-spacing:0;background:#fff;font-size:12px; }
.basic_analysis_list thead th {height:20px;background:#dbe9f3;padding:0px;color:#000;font-weight:500;text-align:center;border:1px solid #C1C1C1;}
.basic_analysis_list tbody td {padding:0 5px 0 5px;height:20px;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1; color: #172849; font-size:12px; cursor:move;}


.analysis_result {margin: 5px 0 10px}
.analysis_result span {border: 1px solid #999; border-radius: 50px; padding: 1px 7px; margin: 0 2px 0 0; color: #999; font-weight: 100; font-size: 12px;}
.analysis_result span.num_ml {margin: 0 0 0 10px}




.no_border_r {border-right: none !important}
.no_border_l  {border-left: none !important}

.bbs_btn {margin: 50px 0; text-align: center}
.bbs_btn a {margin: 0 3px}

.bbs_list_btn {margin: 20px 0; text-align: right}

.bbs_select {margin: 0 0 5px}
.bbs_select li {display: inline-block; cursor: pointer; vertical-align: top}
.bbs_select span {border: 1px solid #172849; display: inline-block; margin: 0 0 0 -1px}
.bbs_select .datepicker {width:130px; padding-left:7px; background: url("../../../../img/icon_calendar.png") no-repeat right+10px center; height: 38px; line-height: 38px;}
.bbs_select li:nth-child(2) {font-size: 14px; margin: 0 0 0 3px;}
.bbs_select li:nth-child(2) span {cursor: pointer;}
.bbs_select li:nth-child(3) .pc_only {margin: 0 0 0 4px}
.bbs_select .bbs_select_race {  padding: 6px 17px 6px;}
.bbs_select .bbs_select_race.on {background: #172849; color: #fff;}

.race_select {margin: 0 0 5px}
.race_select li {display: inline-block; cursor: pointer; vertical-align: top; padding-top:5px;}
.race_select span {border: 1px solid #172849; display: inline-block; text-align:center;}
.race_select .race_select_no {  padding: 3px 10px 3px;}
.race_select .race_select_no.on {background: #172849; color: #fff;}

.race_select_meet{width:60px;height:30px;line-height:30px;vertical-align:top}
.race_select_lo1{float:left;background:#ff0000;color:#fff;border-radius:5px;padding:0 5px;text-align:center;}
.race_select_lo2{float:left;background:#0066ff;color:#fff;border-radius:5px;padding:0 5px;text-align:center;}
.race_select_lo3{float:left;background:#009900;color:#fff;border-radius:5px;padding:0 5px;text-align:center;}



.tbl_box table {width: 100%}
.tbl_box2 table {width: 100%}
.scroll_x {display: none}


.td_void{padding:0 !important; background-color:#fff !important; border:0 !important;}

#footer_wrap {min-width: 1200px;width: 100%; margin: 80px 0 0; background: #050F23}
#footer_wrap .f_agreement_box {width: 100%; font-size: 14px; padding: 12px 0}
#footer_wrap .f_agreement_box .f_agreement {}
#footer_wrap .f_agreement_box .f_agreement a {color: #9B9B9B; padding: 0 20px 0 0; font-weight: 500}

#footer_wrap .f_copy {width: 100%; margin: 0 auto; padding: 30px 0;}
#footer_wrap .f_copy .f_logo {float: left; width: 22%; padding: 30px 20px 0 10px}
#footer_wrap .f_copy .f_logo img {max-width: 200px}
#footer_wrap .f_copy .f_copy_txt {float: left; width: 78%; color: #9B9B9B; line-height: 22px; font-size: 14px; letter-spacing: 0}
#footer_wrap .f_copy .f_copy_txt span {font-size: 10px; color:#ccc; padding: 0 10px}




.chat_outer {dispaly:flex; justify-content:center;}
.chat_inner {margin:0 auto; width:1500px;}
.chat_menu_button {height:30px; padding:0 20px; font-size:1.2em; background:#ffff00; border:1px solid #000;}