@charset "utf-8";
/* 초기화 */

.btn_rcNo{display:inline-block;line-height:30px;height:30px;vertical-align:top}
.btn_rcNo:after{display:block;visibility:hidden;clear :both;content:""}
.btn_rcNo .ov_txt{float:left;background:#9eacc6;color:#fff;border-radius:5px 0 0 5px;padding:0 5px}
.btn_rcNo .ov_num{float:left;width:40px;background:#ededed;color:#666;border-radius:0 5px 5px 0;padding:0 7px;font-size:11pt;}
.btn_rcNo .ov_num .on{float:left;background:#000000;color:#fff;border-radius:0 5px 5px 0;padding:0 7px;font-size:15pt;}
.btn_rcNo .ov_txt1{float:left;width:60px;background:#ff0000;color:#fff;border-radius:5px 0 0 5px;padding:0 5px;text-align:center;}
.btn_rcNo .ov_txt2{float:left;width:60px;background:#0066ff;color:#fff;border-radius:5px 0 0 5px;padding:0 5px;text-align:center;}
.btn_rcNo .ov_txt3{float:left;width:60px;background:#009900;color:#fff;border-radius:5px 0 0 5px;padding:0 5px;text-align:center;}

.btn_rcNo01{display:inline-block;line-height:30px;height:30px;vertical-align:top}
.btn_rcNo01:after{display:block;visibility:hidden;clear :both;content:""}
.btn_rcNo01 .ov_txt{float:left;background:#9eacc6;color:#fff;border-radius:5px 0 0 5px;padding:0 5px}
.btn_rcNo01 .ov_num{float:left;width:50px;background:#ededed;color:#666;border-radius:5px;text-align:center;font-size:11pt;}
.btn_rcNo01 .ov_txt1{float:left;background:#ff0000;color:#fff;border-radius:5px 0 0 5px;padding:0 5px}
.btn_rcNo01 .ov_txt2{float:left;background:#0066ff;color:#fff;border-radius:5px 0 0 5px;padding:0 5px}
.btn_rcNo01 .ov_txt3{float:left;background:#009900;color:#fff;border-radius:5px 0 0 5px;padding:0 5px}
.btn_rcNo01 span.on{float:left;width:50px;background:#000000;border-radius:5px;text-align:center;font-size:15pt;}
.btn_rcNo01 span.on > a{color:#fff;}

a.ov_listdate{display:inline-block;font-size:12pt;font-weight:bold;line-height:30px;height:30px;background:#565e8c;color:#fff;vertical-align:top;border-radius:5px;padding:0 7px }
a.ov_listdate:hover{background:#3f51b5}
.local_ov01 a.on{display:inline-block;font-size:13pt;font-weight:bold;line-height:30px;height:30px;background:#ff3300;color:#fff;vertical-align:top;border-radius:5px;padding:0 7px }

a.list_category_on{background:#ffffff; font-weight:bold;}


.local_ov {min-width:960px}

.local_ov01 {position:relative;margin: 10px 0;}
.local_ov01 .ov_a{display:inline-block;line-height:30px;height:30px;font-size:0.92em;background:#ff4081;color:#fff;vertical-align:top;border-radius:5px;padding:0 7px}
.local_ov01 .ov_a:hover{background:#ff1464}


.main_result_box {float: left; width: 1170px; margin: 5px 0 0 0; text-align: left;}
.main_result_box .main_result { text-align: left; margin: 0 auto}
.main_result_box .main_result div {margin: 0 5px 5px 5px; /*border: 1px solid #898989;*/ }
.main_result_box .main_result div .cate {position: relative; padding: 12px 15px 0px}
.main_result_box .main_result div .tl {font-size: 18px; font-weight: 300; padding: 10px 15px 12px 15px;}
.main_result_box .main_result div .tl strong {font-weight: 700}
.main_result_box .main_result div .time {position: absolute; right: 20px; top: 12px; font-size: 14px; color: #808080; }
.main_result_box .main_result div .air_on {position: absolute; top: 0px; left: 10px; z-index: 100}
.main_result_box .main_result div .air_off {position: absolute; top: 0px; left: 0px; z-index: 100; background: #000; opacity: 0.5; width: 100%; height: 100%;}

.main_result_list_box {float: left; width: 1170px; text-align: left;}
.main_result_list_box .main_result { text-align: left; margin: 0 auto}
.main_result_list_box .main_result div {margin: 0 17px 10px 5px; /*border: 1px solid #898989;*/ }
.main_result_list_box .main_result div .cate {position: relative; padding: 12px 15px 0px}
.main_result_list_box .main_result div .tl {font-size: 18px; font-weight: 300; padding: 10px 15px 12px 15px;}
.main_result_list_box .main_result div .tl strong {font-weight: 700}
.main_result_list_box .main_result div .time {position: absolute; right: 20px; top: 12px; font-size: 14px; color: #808080; }
.main_result_list_box .main_result div .air_on {position: absolute; top: 0px; left: 10px; z-index: 100}
.main_result_list_box .main_result div .air_off {position: absolute; top: 0px; left: 0px; z-index: 100; background: #000; opacity: 0.5; width: 100%; height: 100%;}


.main_analyst_result {margin: 5px 0 10px 0}
.main_analyst_result h1 {font-size: 20px; padding: 0 0 5px 0;}
.main_analyst_result span {border: 1px solid #999; border-radius: 50px; padding: 1px 7px; margin: 0 2px 0 0; color: #999; font-weight: 100; font-size: 12px;}
.main_analyst_result span.num_ml {margin: 0 0 0 10px}


.main_result_list {width:100%;border-collapse:collapse;border-spacing:0;background:#fff;font-size:15px; }
.main_result_list thead th {height:50px;background:#dbe9f3;padding:0px;color:#000;font-weight:500;text-align:center;border:1px solid #C1C1C1;}
.main_result_list tbody td {padding:0 5px 0 5px;height:36px;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1; color: #172849; font-size:14px;}

.main_result_list {width:100%;border-collapse:collapse;border-spacing:0;background:#fff;font-size:14px;border-top:3px solid #3a8afd;border-bottom:1px solid #8f8f8f; }
.main_result_list caption {margin:0;padding:0;line-height:0;overflow:hidden}
.main_result_list thead th {height:50px;background:#dbe9f3;padding:0px;color:#000;font-weight:500;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1;}
.main_result_list thead th a {}
.main_result_list tbody tr {}
.main_result_list tbody td {height:36px;text-align:center;border-bottom:1px solid #C1C1C1;border-right:1px solid #C1C1C1;border-left:1px solid #C1C1C1; color: #172849; font-weight: 500;}
.main_result_list tbody td img {width: 22px}
.main_result_list tbody td.subject {text-align: left; padding: 0 0 0 10px}
.main_result_list tbody td.score_on {background: #D1D1D1}
.main_result_list tbody td a{}
.main_result_list tfoot th {}
.main_result_list tfoot td {height:50px;color:#000;font-weight:500}
.main_result_list td table {border-collapse:collapse;border-spacing:0;border:0px}
.main_result_list td table td {border:0px}
.main_result_list a {}


.main_analyst_view {cursor:pointer; height:100px; background:#ffffcc; overflow:hidden; border:1px solid #bcbcbc;}
.main_analyst_view_off {cursor:pointer; height:100px; background:#ffffcc; overflow:hidden; border:1px solid #bcbcbc;}
.main_analyst_view_on {cursor:pointer; height:100px; background:#ffffcc; overflow:hidden; border:1px solid #ff0000;}

.m_analyst_box {float: left; width: 1170px; margin: 10px 0 0; text-align: left;}
.m_analyst_box .m_analyst { text-align: left; margin: 0 auto}
.m_analyst_box .m_analyst div {float: left; position: relative; width: calc(25% - 10px); margin: 0 5px 2px; margin-top:-2px; /*border: 1px solid #898989;*/ padding:3px; }
.m_analyst_box .m_analyst div .main_analyst_profile {width:172px; line-height:15px; font-size:12px; vertical-align:top;}
.m_analyst_box .m_analyst div .main_analyst_ai {color:#ff0000;}
.m_analyst_box .m_analyst div .main_analyst_ai2 {color:#0000ff;}
.m_analyst_box .m_analyst div .main_analyst_ai_black {color:#000000;}
.m_analyst_box .m_analyst div .smb_me {padding:7px 0 0 0; position:relative; width:80px}
.m_analyst_box .m_analyst div .smb_me img{width:100%;border-radius:50%}
.m_analyst_box .m_analyst div a {color:#fff;}
/*.m_analyst_box .m_analyst div a:hover {background:#ff0000; color:#ff;}*/
.m_analyst_box .m_analyst div .tl {font-size: 18px; font-weight: 300; padding: 10px 15px 12px 15px;}
.m_analyst_box .m_analyst div .tl strong {font-weight: 700}
.m_analyst_box .m_analyst div .time {position: absolute; right: 20px; top: 12px; font-size: 14px; color: #808080; }
.m_analyst_box .m_analyst div .air_on {position: absolute; top: 0px; left: 10px; z-index: 100}
.m_analyst_box .m_analyst div .air_off {position: absolute; top: 0px; left: 0px; z-index: 100; background: #000; opacity: 0.5; width: 100%; height: 100%;}


.main_ranking_title {float:left; height:50px; line-height:40px; text-align:center; font-size:1.5em; color:#ffffff; font-weight:bold; }

.m_hello_box {float: left; width: 1170px; text-align: left;}
.m_hello_box .m_youtube { text-align: left; margin: 0 auto}
.m_hello_box .m_youtube div {float: left; position: relative; margin-top:-2px; padding:3px; }
.m_hello_box .m_youtube div .smb_me {padding:7px 0 0 0; position:relative; width:80px}
.m_hello_box .m_youtube div .smb_me img{width:100%;border-radius:50%}
.m_hello_box .m_youtube div .main_analyst_profile {margin-left:7px; width:180px; line-height:15px; font-size:12px; vertical-align:top;}

.btn_search {position: absolute;
    top: 5px;
    right: 10px;
    width: 35px;
    height: 42px;
    line-height: 44px;
    background: url(/img/btn_search.png) no-repeat;
    background-size: 35px 43px;}
.ico_pctop {overflow:hidden;}
.ir_wa {display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;}



.main_bet_result {position:relative;width:100%;float:left;padding:0 10px;background:#fff}
.main_bet_title {width:100%; height:40px; line-height:40px; background:#ddd; border:1px solid #000; font-size:1.1em; font-weight:bold; text-align:center;}
.main_bet_content {margin-top:5px;}
.main_bet_wrap{
	width: 680px;
    height: 315px;
	position: relative;
	overflow: hidden;
}
	
.main_bet_result_list{
	width: 1610px;
	height: 315px;
	position: absolute;
	top: 0;
	left: 0;
}
    
.main_bet_result_list li{
    float: left;
}
    
.main_bet_result_list img{
	width: 220px;
	height: 314px;
}


.m_bbs {float: left; width: 100%; margin: 10px 0 0;}
.m_bbs .tl { }
.m_bbs .tl img {width: 100%; }
.m_bbs .tl .stl {font-size: 20px; }
.m_bbs .tl .stl strong {font-size: 24px; color: #FF9900}
.m_bbs .tl .scon {font-size: 15px;}

.m_bbs .t2 {margin: 10px 0 0;}
.m_bbs .t2 img {width: 100%; }

.m_bbs .m_batting_title {margin: 10px 0 0;}
.m_bbs .m_batting_title h1 {font-size: 18px; padding: 5px; /*margin: 0 0 8px;*/ font-weight: 300; /*background: url("../img/icon_medal.png") no-repeat left center ;*/ color: #172849}
.m_bbs .m_batting_title h1 strong {color: #000000}

.m_bbs .m_batting {background:#fff; margin: 2px 0 0; padding:5px; border:1px solid #ddd; border-radius:5px;}

.m_bbs .m_batting_result {margin: 30px 0 0; padding: 0 15px}
.m_bbs .m_batting_result h1 {font-size: 18px; padding: 0px 0 0px 30px; margin: 0 0 8px; font-weight: 300; background: url("../img/icon_crown.png") no-repeat left center ; color: #172849}
.m_bbs .m_batting_result h1 strong {color: #FF5700}